<h1>Prise de tention arterielle</h1>

<p>Consulter ce lien:</p>
<a href="https://sante.journaldesfemmes.fr/fiches-maladies/2488800-tension-arterielle-definition-normale-basse-haute-diastolique-systolique-age-mesure-tableau/" target="_blank">Explication de la tention</a>